{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link href="{% static 'css/style_about.css'%}" rel="stylesheet">
</head>
<style>
header{
	color: black;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/background.jpg' %}"),no-repeat;
	background-size: cover;
	background-position: center;
}
</style>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<!--<img src="{% static 'images/logo.png' %}">-->
			</div>

			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li class="active"><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact Us</a></li>
			</ul>
			<div class="title">
				<h1>About</h1>
			</div>
			
			<p id="para"></p>
		</div>
	</header>
</body>
