{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Customer</title>
	<link href="{% static 'css/style_buy2.css'%}" rel="stylesheet">
	<style>
	header{
		color: black;
		height: 100vh;
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/background.jpg' %}"),no-repeat;
		background-size: cover;
		background-position: center;
	}

	::placeholder{
		color: #EEEEEE;
		opacity: 1;
		font-size: 20px;
		font-weight: normal;
		size: 30px;
		
	}
	</style>
</head>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<!--<img src="{% static 'images/logo.png' %}">-->
			</div>

			<div class="title">
				<h1>Hardware Service</h1>
			</div>

			<form class="antivirus">
				<input type="radio" name="antivirus" value="Antivirus 5"> 1 year Hardware Service<br><br>
				<input type="radio" name="antivirus" value="Antivirus 6"> 2 year Hardware Service<br><br>
				<input type="radio" name="antivirus" value="Antivirus 7"> 3 year Hardware Service
			</form>
			<form method="GET">
				<input type="submit" class="button" value="Buy">
			</form>
		</div>
	</header>
</body>
