{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Customer</title>
	<link href="{% static 'css/style_customer.css'%}" rel="stylesheet">

	<style>
	header{
		color: black;
		height: 100vh;
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/background.jpg' %}"),no-repeat;
		background-size: cover;
		background-position: center;
	}

	::placeholder{
		color: #EEEEEE;
		opacity: 1;
		font-size: 20px;
		font-weight: normal;
		size: 30px;
	}
	</style>

</head>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<!--<img src="{% static 'images/logo.png' %}">-->
			</div>

			<div class="title">
				<h1>Customer</h1>
			</div>

			<form method="GET">
				<table>
					<tr>
						<td id="rid">
							Service Tag:
						</td>
						<td id="rnum">
							<div class="textbox">
								<i class="fas fa-lock"></i>
								<input type="text"  size="30" autocomplete=off name="ref_id">		
							</div>
							<!--<input type="text" size="30" placeholder="Service Tag" autocomplete=off name="ref_id"-->
						</td>
					</tr>
					<input type="submit" class="button" value="Submit">
							
				</table>
			</form><br/>
			<br/>
			
			{% if result.anti %}
				<p id="anti">Recommended Anti Virus:</p>
				<div class="buy">
					<a href="{% url 'buy' %}" class="buya">Buy</a>
				</div>
			{% endif %}

			{% for x in result.anti %}
				<div class="antivirus-{{forloop.counter}}">{{x}}</div>
			{% endfor %}

			{% if result1.anti %}
				<p id="office">Recommended MS Office:</p>
				<div class="buy1">
					<a href="{% url 'buy1' %}" class="buy1a">Buy</a>
				</div>
			{% endif %}
			{% for x in result1.anti %}
				<div class="office-{{forloop.counter}}">{{x}}</div>
			{% endfor %}

			{% if result2.anti %}
				<p id="hardware">Recommended Hardware Service:</p>
				<div class="buy2">
					<a href="{% url 'buy2' %}" class="buy2a">Buy</a>
				</div>
			{% endif %}
			{% for x in result2.anti %}
				<div class="hardware-{{forloop.counter}}">{{x}}</div>
			{% endfor %}
			
			{% if value == '1' %}
				<form>
					<table class="data">
						<tr class="row1">
							<td>
								Antivirus version
							</td>
							<td>
								Antivirus Expiry Date
							</td>
							<td>
								Office Data
							</td>
							<td>
								In Home Hardware Service Expiry Date
							</td>
							<td>
								Model
							</td>
							<td>
								Purchased Date
							</td>
						</tr>
						<tr class="row2">
							<td>
								{{ object.antivirus_version}}
							</td>
							<td>
								{{ object.antivirus_expiry_date}}
							</td>
							<td>
								{{ object.office_data}}
							</td>
							<td>
								{{ object.in_home_hardware_service_expiry_date}}
							</td>
							<td>
								{{ object.sys_model}}
							</td>
							<td>
								{{ object.purchase_data }}
							</td>
						</tr>
					</table>
					<div class="button1">
						<a href="{% url 'feedback'%}" class="btn">More Recommendations</a>
					</div>
				</form>
			{%  endif %}
		</div>
	</header>
</body>
