{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Customer</title>
	<link href="{% static 'css/style_feedback.css'%}" rel="stylesheet">

	<style>
		header{
			color: black;
			height: 100vh;
			background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("{% static 'images/background.jpg' %}"),no-repeat;
			background-size: cover;
			background-position: center;
		}
    </style>
</head>

<body>
	<header>
		<div class="main">
			<div class="logo">
				<!--<img src="{% static 'images/logo.png' %}">-->
			</div>

			<div class="title">
				<h1>More Recommendations</h1>
			</div>

			{% if result.anti %}
				<p id="accessories">Frequently Bought Accessories by users of same model: </p>
				<!--<div class="buy3">
					<a href="{% url 'buy3' %}" class="buy3a">Buy</a>
				</div>-->
			{% endif %}
			{% for x in result.anti %}
				<div class="accessories-{{forloop.counter}}">{{x}}</div>
			{% endfor %}
			<form>
				<table>
					<tr>
						<td class= "row1">
							Feedback:
						</td>
						<td class="row2">
							<textarea rows="6" cols="60" name="comment"></textarea>
						</td>
					</tr>
				</table>
				<input type="submit" class="button" value="Submit">
			</form>
		</div>
	</header>
</body>

