*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	color: black;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo img{
	float: left;
	padding-top: 30px;
	padding-left: 60px;
	width: 100px;
	height: auto;
}

.title{
	position: absolute;
	top: 10%;
	left: 20%;
	transform: translate(-50%,-50%);
}

.title h1{
	color:#EEEEEE;
	font-size: 40px;
}


#username{
	position: absolute;
	top:40%;
	left: 40%;
	transform: translate(-50%,-50%);
	font-size: 25px;
	color: #EEEEEE;
}

#user{
	position: absolute;
	top:40%;
	left: 55%;
	transform: translate(-50%,-50%);
	padding:30px 10px;
}

#password{
	position: absolute;
	top:50%;
	left: 40%;
	transform: translate(-50%,-50%);
	font-size: 25px;
	color: #EEEEEE;
}

#pass{
	position: absolute;
	top:50%;
	left: 55%;
	transform: translate(-50%,-50%);
	padding:30px 10px;
}


.button {
	position: absolute;
	top:60%;
	left: 45%;
  	background-color: transparent;
  	border: none;
  	color: black;
  	background-color: #EEEEEE;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	cursor: pointer;
	transition: 0s ease;
}

.button:hover{
	background-color: black;
	color: #EEEEEE;
}

.check{
	position: absolute;
	top: 70%;
	left: 40%;
	color: #EEEEEE;
	font-size: 20px;
	font-weight: bold;
}