*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

.logo img{
	float: left;
	padding-top: 30px;
	padding-left: 60px;
	width: 100px;
	height: auto;
}

#rid{
	position: absolute;
	top:10%;
	left: 45%;
	transform: translate(-50%,-50%);
	font-size: 25px;
	font-weight: bold;
	color: #EEEEEE;
}

#rnum{
	position: absolute;
	top:10%;
	left: 62%;
	border: black;
	transform: translate(-50%,-50%);
	padding:30px 10px;
}

.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 10px;

}

.textbox i{
	width: 26px;
	float: left;

}

.textbox input{
	border:1px solid;
	outline: none;
	background: white;
	color:black;
	font-size: 20px;
	width: 80%;
	float: left;

}

.title{
	position: absolute;
	top: 10%;
	left: 20%;
	transform: translate(-50%,-50%);
}

.title h1{
	color:#EEEEEE;
	font-size: 40px;
}

.button {
	position: absolute;
	top:15%;
	left: 47%;
  	background-color: #EEEEEE;
  	border: none;
  	color: black;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	cursor: pointer;
	transition: 0s ease;
}

.button:hover{
	background-color:black;
	color: #EEEEEE;
}

.button1{
	position: absolute;
	top:90%;
	left: 70%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid transparent;
	padding: 10px 30px;
	color: black;
	background-color: #EEEEEE;
	text-decoration: none;
	font-size: 30px;
	transition: 0.7s ease;
}

.btn:hover{
	background-color: black;
	color:#fff;
}

.data{
	position: absolute;
	top:25%;
	left: 5%;
}

.row1 td{
	text-align: center;
	padding:10px; 
	font-size:20px;
	font-weight: bold;
	color: #EEEEEE;
	width: 200px;
	border: 1px solid #EEEEEE;
}

.row2 td{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	color: #EEEEEE;
	width: 30px;
}

#anti{
	color: #EEEEEE;
	position: absolute;
	top:45%;
	left: 20%;
	font-weight: bold;
	font-size: 25px;
}

.antivirus-1{
	color:#EEEEEE;
	position: absolute;
	top:50%;
	left:20%;
	font-size: 20px;
}


.antivirus-2{
	color:#EEEEEE;
	position: absolute;
	top:50%;
	font-size: 20px;
	left:30%;
}

.antivirus-3{
	color:#EEEEEE;
	position: absolute;
	top:50%;
	font-size: 20px;
	left:40%;
}

#office{
	color: #EEEEEE;
	position: absolute;
	top: 55%;
	left: 20%;
	font-size: 25px;
	font-weight: bold;
}

.office-1{
	color: #EEEEEE;
	position: absolute;
	top: 60%;
	left: 20%;
	font-size: 20px;
}

.office-2{
	color: #EEEEEE;
	position: absolute;
	top: 60%;
	left: 40%;
	font-size: 20px;
}

.office-3{
	color: #EEEEEE;
	position: absolute;
	top: 60%;
	left:55%;
	font-size: 20px;
}

.office-4{
	color: #EEEEEE;
	position: absolute;
	top: 60%;
	left: 70%;
	font-size: 20px;
}

#hardware{
	color: #EEEEEE;
	position: absolute;
	top: 65%;
	left: 20%;
	font-size: 25px;
	font-weight: bold;
}

.hardware-1{
	color: #EEEEEE;
	position: absolute;
	top: 70%;
	left: 20%;
	font-size: 20px;
}
.hardware-2{
	color: #EEEEEE;
	position: absolute;
	top: 70%;
	left: 40%;
	font-size: 20px;
}
.hardware-3{
	color: #EEEEEE;
	position: absolute;
	top: 70%;
	left: 60%;
	font-size: 20px;
}

.buy{
	position: absolute;
	top: 47%;
	left: 45%;
	transform: translate(-50%,-50%);
}

.buya{
	border: 1px solid transparent;
	padding: 7px 20px;
	color: black;
	text-decoration: none;
	font-size: 15px;
	transition: 0.7s ease;
	background-color:#EEEEEE; 
}

.buya:hover{
	background-color: black;
	color:#EEEEEE;
}

.buy1{
	position: absolute;
	top: 57%;
	left: 45%;
	transform: translate(-50%,-50%);
}

.buy1a{
	border: 1px solid transparent;
	padding: 7px 20px;
	color: black;
	text-decoration: none;
	font-size: 15px;
	transition: 0.7s ease;
	background-color:#EEEEEE; 
}

.buy1a:hover{
	background-color: black;
	color:#EEEEEE;
}

.buy2{
	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.buy2a{
	border: 1px solid transparent;
	padding: 7px 20px;
	color: black;
	text-decoration: none;
	font-size: 15px;
	transition: 0.7s ease;
	background-color:#EEEEEE; 
}

.buy2a:hover{
	background-color: black;
	color:#EEEEEE;
}

