*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

.title{
	position: absolute;
	top: 10%;
	left: 20%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#EEEEEE;
	font-size: 40px;
}

.antivirus{
	position: absolute;
	top: 30%;
	left: 30%;
	color: #EEEEEE;
	font-size: 25px;
}

.antivirus input{
	padding: 20px;
}


.button {
	position: absolute;
	top:50%;
	left: 40%;
  	background-color:#EEEEEE;
  	border: none;
  	color: black;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	cursor: pointer;
	transition: 0s ease;
}

.button:hover{
	background-color: black;
	color: #EEEEEE;
}

