*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

ul{
	color: black;
	list-style-type: none;
	float: right;
	margin-top: 25px;
	margin-right: 30px; 
}

ul li{
	color: black;
	display: inline-block;
	padding: 10px;
}

ul li a{
	text-decoration: none;
	color:black;
	background-color: #EEEEEE;
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: black;
	color:#EEEEEE;
}

ul li.active a{
	background-color: black;
	color: #fff;
}
.logo img{
	float: left;
	padding-top: 30px;
	padding-left: 60px;
	width: 100px;
	height: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#EEEEEE;
	font-size: 70px;
}

.button{
	position: absolute;
	top:60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid transparent;
	padding: 10px 30px;
	color: black;
	text-decoration: none;
	font-size: 30px;
	transition: 0.7s ease;
	background-color: #EEEEEE;
}

.btn:hover{
	background-color: black;
	color:#EEEEEE;

}