*{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
}

.logo img{
	float: left;
	padding-top: 30px;
	padding-left: 60px;
	width: 100px;
	height: auto;
}

.title{
	position: absolute;
	top: 10%;
	left: 20%;
	transform: translate(-50%,-50%);
}

.title h1{
	color:#EEEEEE;
	font-size: 30px;
}

#accessories{
	color: #EEEEEE;
	position: absolute;
	top: 20%;
	left: 15%;
	font-size: 25px;
	font-weight: bold;
}

.accessories-1{
	color: #EEEEEE;
	position: absolute;
	top: 30%;
	left: 15%;
	font-size: 25px;
}

.accessories-2{
	color: #EEEEEE;
	position: absolute;
	top: 35%;
	left: 15%;
	font-size: 25px;
}

.accessories-3{
	color: #EEEEEE;
	position: absolute;
	top: 35%;
	left: 15%;
	font-size: 25px;
}

.accessories-4{
	color: #EEEEEE;
	position: absolute;
	top: 40%;
	left: 15%;
	font-size: 25px;
}

.row1{
	position: absolute;
	top:55%;
	left:10%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	font-weight: bold;
	color: #EEEEEE;
}

.row2{
	position: absolute;
	top:65%;
	left:20%;
	transform: translate(-50%,-50%);
	font-size: 25px;
	font-weight: bold;
	color: #EEEEEE;
}

.button {
	position: absolute;
	top:64%;
	left: 35%;
  	background-color: transparent;
  	border: none;
  	color: black;
  	background-color: #EEEEEE;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	cursor: pointer;
	transition: 0s ease;
}

.button:hover{
	background-color: black;
	color: #fff;
}
.button1 {
	position: absolute;
	top:70%;
	left: 50%;
  	background-color: transparent;
  	border: none;
  	color: black;
  	background-color: #EEEEEE;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 30px;
  	cursor: pointer;
	transition: 0s ease;
}

.button1:hover{
	background-color: black;
	color: #fff;
}

.buy3{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.buy3a{
	border: 1px solid transparent;
	padding: 7px 20px;
	color: black;
	text-decoration: none;
	font-size: 15px;
	transition: 0.7s ease;
	background-color:#EEEEEE; 
}

.buy3a:hover{
	background-color: black;
	color:#EEEEEE;
}

